
::-webkit-scrollbar{
    width: 0;
}

@font-face { 
    font-family: "Roboto-Regular";  
    font-weight: 400; 
    font-style: normal; 
    src: url("chrome-extension://ifajfiofeifbbhbionejdliodenmecna/Fonts/Roboto-Regular.ttf") format("ttf"); 
    font-display: swap
   }

body{
    background-color: rgba(3, 0, 7);
    /*
    030014/ reflect
    #0a0118 / wope
    */
    padding: 0;
    margin: 0;
}

.slides{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;    
    flex-direction: column;
}

.home{
    justify-content: center;
}

.swipe_page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #04011f ;
    top: 0%;
    left: 110%;
    transition: 2s ease;
    transition-property: left;
    }

.swipe{
    left: 0%;
}



/* #region nav */
.nav .nav_items:before{
    background: radial-gradient(62.87% 100% at 50% 100%,rgba(255, 255, 255, 0.37) 0%,rgba(255,255,255,0) 100%);
    content:"";
    bottom: 0;
    width: 100%;
    height: 1px;
    position: absolute;
}
.nav{
    display: flex;
    justify-content: center;
    padding: 0 60px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    z-index: 1000;
}
.nav_items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    /* box-shadow:inset 0px -6px 5px 0px rgba(0, 0, 0, .5) ,20px 20px 50px rgba(0, 0, 0, .5) ; I liked this shadow inset rip */

}
.glowy {
    transition: filter 0.5s;
    animation: backdropGlow .5s ease forwards;
  }
/* .glowy:hover{
    animation: backdropGlow .5s ease forwards;
  } */
  
  @keyframes backdropGlow{
  100%{
    filter: drop-shadow(0 4px 10px rgb(250, 115, 5))
    drop-shadow(0 4px 20px rgb(250, 115, 5))
    /* drop-shadow(0 4px 20px rgb(250, 115, 5)) */
    /* drop-shadow(0 4px 40px rgb(250, 115, 5)) */
    /* drop-shadow(0 4px 40px rgb(250, 115, 5)) */
    /* drop-shadow(0 4px 40px rgb(250, 115, 5)) */
    /* drop-shadow(0 4px 80px rgb(250, 115, 5)) */
  } 
}

.info{
    /* padding: 0 70px 0 0; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    text-shadow: 0px 4px 1px rgba(0,0,0,.5);
    font-display: swap;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: -1px; */
    width: 90px;
    height: 5rem;
    cursor:pointer;
    user-select: none;
}
/* #endregion */


/* .one{
    border-right: rgb(14, 13, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}

.two{
    border-right: rgb(14, 13, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}

.three{
    border-right: rgb(31, 29, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}
.four{
    border-right: rgb(14, 13, 13) solid;
    border-left: rgb(31, 29, 29) solid;
} */


/* #region first slide */
.first_slide{
    letter-spacing: 13px;
    font-family: arial;
    font-size: 100px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004) ; */
    opacity: 0;
    line-height: .7em;
    text-shadow: 0 0 10px rgb(248, 100, 2),
    0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 80px rgb(248, 100, 2),
      0 0 100px rgb(248, 100, 2);
    color:rgb(255, 255, 255);

    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.isOn{
    animation: glowMain 2s linear forwards;
}


@keyframes glowMain {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* #endregion */


/* #region second slide ---------------------------------------------------------------------------------------------------------------------*/
.titles{
    letter-spacing: 5px;
    font-family: arial;
    font-size: 90px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004) ; */
    opacity: 1;
    line-height: .7em;
    text-shadow: 0 0 10px rgb(248, 100, 2),
    0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 80px rgb(248, 100, 2),
      0 0 100px rgb(248, 100, 2);
    color:rgb(255, 255, 255);
}
.titleAbout{
    /* font-size: 90px; */
    margin-bottom: 3%;
}
.about{
    margin-top: 15%;
    padding-top: 8%;
    padding-bottom: 3%;
}
.contentContainer{
    /* border:rgba(118, 105, 105, 0.515) solid 7px ; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 80%; /*100 and 90 look good as well*/
    height: 65%;
    justify-content: space-evenly;
    /* white-space: nowrap; */
}
.contentFrames{
    display:flex;
    height: 100%;
    border: rgba(118, 105, 105, 0.515) solid 7px ;
    border-radius: 37px;
}

/* #region skills */
.skillsSize{
    overflow: hidden;
    width: 30%;
}
.texty{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: rgba(118, 105, 105, 0.515);
    color: white;
    text-shadow:  0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 50px rgb(248, 100, 2);
}
.skillsHeader{
    font-size: 2.5rem;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 7% 0;
}
.underline:before{
    background: radial-gradient(62.87% 100% at 50% 100%,rgba(255, 255, 255, 0.37) 0%,rgba(255,255,255,0) 100%);
    content:"";
    bottom: 0;
    width: 100%;
    height: 1px;
}

.skillsContentContainer{
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 100%;
    /* margin: 3%; */
    padding: 2%;
    justify-content: space-between;
}
.skillRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    transition: transform 1s ease;
    width: calc(100% + 20px);
    /* padding: 1%; */
    height: 17%;
}
.staggerLeft{
    padding-left: 10%;
}
.staggerLeftMore{
    padding-left: 15%;
}
.skillBox{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:honeydew solid 1px;
    border-radius: 12px;
    width:20%;
    margin:0 .7%;
    /* height: %; */
    box-shadow:inset 0 0 10px rgb(248, 100, 2)
    /* inset 0 0 20px rgb(248, 100, 2),
    inset 0 0 40px rgb(248, 100, 2),
    0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 50px rgb(248, 100, 2) */
}
.skillRow:hover {
    transform: translateX(100px); /* Default to moving left */
}
.skillRow.hover-left1:hover {
    transform: translateX(130px); /* Move left */
}
.skillRow.hover-right1:hover {
    transform: translateX(-150px); /* Move right */
}
.skillRow.hover-left2:hover {
    transform: translateX(60px); /* Move left */
}

.skillRow.hover-right2:hover {
    transform: translateX(-230px); /* Move right */
}
.skillRow.hover-left3:hover {
    transform: translateX(130px); /* Move left */
}

.skillRow.hover-right3:hover {
    transform: translateX(-150px); /* Move right */
}

.skillRow.hover-left4:hover {
    transform: translateX(20px); /* Move left */
}

.skillRow.hover-right4:hover {
    transform: translateX(-260px); /* Move right */
}

.skillRow.hover-left5:hover {
    transform: translateX(130px); /* Move left */
}

.skillRow.hover-right5:hover {
    transform: translateX(-150px); /* Move right */
}

/* #endregion */


/* #region about me */

.aboutMeSize{
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
    color: white;
    /* text-shadow:  0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 50px rgb(248, 100, 2); */
}
.logoSection{
    display:flex;
    /* width: 100%;
    height: 35%; */
    flex-basis: 35%;
    width: 100%;
    /* border: rgba(118, 105, 105, 0.515) solid 7px ; */
    border-radius: 37px;
    color:white;
    padding: 4% 0;
    align-items: center;
}
.myInfoSection{
    display:flex;
    flex-direction: column;
    height: 56%;
    /* flex-basis: 54%; */
    width: 100%;
    /* border: rgba(118, 105, 105, 0.515) solid 7px ; */
    border-radius: 37px;
    color:white;
    container-type: inline-size;
}

.aboutMesectionPadding{
    padding: 0% 8%;
}
.myInfoHeader{
    /* font-size: 5.7vh; */
    /* height: 20%; */
    font-size: 5.7vh;
    padding-bottom: 1%;
}
.myInfoContent{
    /* height: 80%; */
    color: #8E8E8E;
    /* font-size: 3vh; */
    /* font-size: 2vw;   */
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    /* font-size: 120%; */
}

.myPictureFrame{
    border-radius: 50%;
    border: 2px solid #757575;
    background-position: center 30%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
}

.myPicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* #endregion */


/* #endregion -----------------------------------------------------------------------------------------------------------------------------*/


/* #region utils, borders and more */
.contentFrames:hover{
    animation: anotherGlow .3s ease forwards;
}
/* frame animations */
@keyframes anotherGlow {
    0%{
        border:rgba(118, 105, 105, 0.515) solid 7px ;
        text-shadow: none;
    }   
    100%{
        border:honeydew solid 7px;
        box-shadow:inset 0 0 10px rgb(248, 100, 2),
        inset 0 0 20px rgb(248, 100, 2),
        inset 0 0 40px rgb(248, 100, 2),
        0 0 20px rgb(248, 100, 2),
        0 0 40px rgb(248, 100, 2),
         0 0 50px rgb(248, 100, 2)
    } 
}

/* #endregion */

/* width */

@media (max-width: 270px) {
    /* CSS rules for mobile phones */
    .titles,.first_slide{
        font-size: 30px;
    }

    }

@media (min-width: 270.1px) and (max-width: 360px) {
    /* CSS rules for mobile phones */
    .titles,.first_slide{
        font-size: 40px;
    }

    }
@media (min-width: 361px)and (max-width: 575px) {
    /* CSS rules for mobile phones */
    .titles,.first_slide{
        font-size: 60px;
    }

    }
@media (max-width: 767px) {
  /* CSS rules for tablets */
  .nav{
    padding: 0;
  }
  .about{
    height: auto;
  }
  .contentContainer{
    flex-direction: column;
    height: auto;
    align-items: center;
}
.contentFrames{
    flex: 1 1 100%;
    width: 90%;
    /* height: 60%; */
}
.myInfoContent{
    padding-bottom: 3%;
}
    }
@media (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for small laptops */
    .contentContainer{
        /* flex-direction: column; */
    }
    .contentFrames{
        flex: 1 1 100%;
    }
    .myInfoContent{
        /* font-size: 1.6vw; */
        /* font-size: 2vw; */
    }
    }

@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for desktops */
    }
@media (min-width: 1200px) {
    /* CSS rules for large desktops */
    }

  /* height */

  @media (max-height: 656px) {
    .myPictureFrame{
        height: 8rem;
        width: 8rem;
    }
    .logoSection{
        padding: 2% 0;
    }
  }
  @media (max-height: 580px) {
    .myPictureFrame{
        height: 7rem;
        width: 7rem;
    }
    .logoSection{
        padding: 2% 0;
    }
    .myInfoContent{
        /* font-size: 1.6vw; */
        font-size: 3.1vh;
    }
  }

  @media (max-height: 500px) {
    .myPictureFrame{
        height: 6rem;
        width: 6rem;
    }
    .logoSection{
        padding: 2% 0;
    }
    .myInfoContent{
        /* font-size: 1.5vw; */
        font-size: 3.4vh;
    }
  }
  @media (max-height: 400px) {
    .myPictureFrame{
        height: 5rem;
        width: 5rem;
    }
    .myInfoContent{
        /* font-size: 1.5vw; */
        font-size: 3.5vh;
    }
  }

  @media (max-height: 330px) {
    .myPictureFrame{
        height: 4rem;
        width: 4rem;
    }
    .myInfoContent{
        /* font-size: 1.5vw; */
        font-size: 3.5vh;
    }
  }


    /* Width and Height */

      @media (max-width: 991px) and (max-height: 656px) {
        .myPictureFrame{
            height: 7rem;
            width: 7rem;
        }
        .logoSection{
            padding: 2% 0;
        }
        .myInfoContent{
            font-size: 1.5vw;
        }
      }
      @media (max-width:767px) and (max-height: 656px) {
        .myPictureFrame{
            height: 5rem;
            width: 5rem;
        }
        .logoSection{
            padding: 2% 0;
        }
        .myInfoHeader{
            padding-bottom: 0;
        }
        .header{
            font-size: 5vh;
        }
        .myInfoContent{
            font-size: 1.65vw;
            /* font-size: 3v; */
            padding-bottom: 2%;
        }
      }
      @media (max-width:550px) and (max-height: 656px) {
        .myPictureFrame{
            height: 4rem;
            width: 4rem;
        }
        .header{
            font-size: 4vh;
        }
        .myInfoContent{
            font-size: 1.65vw;
            /* font-size: 3v; */
            padding-bottom: 2%;
        }
      }
      @media (max-width:450px) and (max-height: 656px) {
        .myPictureFrame{
            height: 4rem;
            width: 4rem;
        }
        .header{
            font-size: 3vh;
        }
        .logoSection{
            padding: 1% 0;
        }
        .myInfoContent{
            font-size: 1.65vw;
            /* font-size: 3v; */
            padding-bottom: 2%;
        }
      }
      @media (max-width:350px) and (max-height: 656px) {
        .myPictureFrame{
            height: 3rem;
            width: 3rem;
        }
        .header{
            font-size: 3vh;
        }
        .logoSection{
            padding: 1% 0;
        }
        .myInfoContent{
            font-size: 1.65vw;
            /* font-size: 3v; */
            padding-bottom: 2%;
        }
      }



      @media (max-width: 900px)and (max-height: 580px) {
        .myPictureFrame{
            height: 7rem;
            width: 7rem;
        }
        .logoSection{
            padding: 2% 0;
        }
        .myInfoContent{
            font-size: 1.65vw;
        }
      }


      @media (max-width: 1019px)and (max-height: 500px) {
        .myPictureFrame{
            height: 6rem;
            width: 6rem;
        }
        .logoSection{
            padding: 2% 0;
        }
        .myInfoContent{
            font-size: 1.5vw;
        }
      }

      @media (max-width: 1019px)and (max-height: 425px) {
        .myPictureFrame{
            height: 5rem;
            width: 5rem;
        }
        .logoSection{
            padding: 2% 0;
        }
        .myInfoContent{
            font-size: 1.2vw;
        }
      }

  /* 
  projects at width 948 and under ><><
  submit button at width 1123 and under
  nav at width 703 and under
  Hero Title at 539 and under <><>
  content overflow on big screens
  */
